.idea
gradlew.*

collector/out/*
collector/gradlew
collector/.gradle/*
collector/gradle/*

api/out/*
api/gradlew
api/.gradle/*
api/gradle/*

indexer/out/*
indexer/gradlew
indexer/.gradle/*
indexer/gradle/*

indexer/paho*
indexer/build/*
